body{
    height: 100vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;
}

/* header */

#lessons-select {
    outline: 0;
    border: 0;
    background: #bdc3c7;
    max-width: fit-content;
    color: #2c3e50;
    border-radius: 2px;
}


/* to type */
.editor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;    
    user-select: none;
}

.ps-text{
    border: none;
    min-width: 90%;
    max-width: 90%;
    outline: none;
    font-size: 18pt;
    padding: 10px 5px;
    height: max-content;
    font-family: monospace;
    background-color: #9e9e9e1f;
    border-bottom: black 1px solid;
}

#toType{
    white-space: nowrap;
    overflow: hidden;
}

/* keyboard */
.keyboard{
    margin-bottom: 10px;
}