header{
    height: 48px;
    background-color: #000000cc;
    font-size: 17px;
    user-select: none;
}

header .content{
    padding: 0 22px;
    margin: 0 44px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .inside{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-between;
}