.keyboard {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #d9d9d9;
    user-select: none;
}

.key {
    background-color: #262626;
    color:#fff;
    padding-left: 8px;
    line-height: 29px;
    border-radius: 2px;
    margin-left: 2px;
    margin-bottom: 3px;
    cursor: pointer;
    flex: 1 1 auto;
    /* make keyboard keys shrink and grow */
    width: 50px;
    height: 50px;

}
.letter{
    font-size: 18px;
}
.second-letter{
    font-size: 16px;
    padding-left: 15px;
}
.key.highlight{
    background-color: #c11519 ;
}

.key.finger{
    box-shadow:inset 0px 0px 0px 2px #6100de;
}

.row{
    display: flex;
    flex-direction: row;
}
.dual {
    line-height: 20px;
    width: 30px;
}

.backspace {
    width: 84px;
}

.tab {
    width: 50px;
    line-height: 40px;
}

.letter {
    width: 30px;
   
}

.slash {
    width: 64px;
}

.caps {
    width: 70px;
    line-height: 40px;
}

.enter {
    width: 92px;
    line-height: 40px;
    text-align: center;
    padding-left: 0;
}

.shift.left {
    width: 90px;
    line-height: 40px;
    text-align: center;
}

.shift.right {
    width: 104px;
    line-height: 40px;
    text-align: center;
}

.ctrl {
    width: 50px;
    line-height: 40px;
}

.space {
    width: 234px;
}

/* windows key */
.wk.key{
    padding-left: 4px;
    padding-right: 4px;
}
.wk-img{
    display: block;
    margin: auto;
    margin-top: 6px;
}