::selection {
    color: inherit;
}

.keyboard {
    width: 620px;
    height: 260px;
    /* background-color: #111; */
    margin: 0px auto;
    border-radius: 9px;
    padding: 30px;
    color: #eee;
}

.key {
    width: 40px;
    height: 40px;
    display: block;
    background-color: #333;
    text-align: left;
    padding-left: 8px;
    line-height: 29px;
    border-radius: 2px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: box-shadow 0.7s ease;
}

.small {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    padding: 0 5px;
    padding-top: 2px;
    height: 28px !important;
}

.dual {
    font-size: 14px;
    line-height: 20px;
    width: 30px;
}

.backspace {
    width: 84px;
    font-size: 12px;
}

.tab {
    width: 50px;
    line-height: 40px;
    font-size: 13px;
}

.letter {
    width: 30px;
   
}
.num, .letter {
    font-size: 18px;
}

.second-letter{
    font-size: 16px;
    padding-left: 10px;
}

.slash {
    width: 64px;
}

.caps {
    width: 70px;
    font-size: 13px;
    line-height: 40px;
}

.enter {
    width: 92px;
    line-height: 40px;
    text-align: center;
    padding-left: 0;
}

.shift.left {
    width: 90px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
}

.shift.right {
    width: 104px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
}

.ctrl {
    width: 50px;
    line-height: 40px;
    font-size: 13px;
}

.space {
    width: 234px;
}

/* windows key */
.wk.key{
    padding-left: 4px;
    padding-right: 4px;
}
.wk-img{
    display: block;
    margin: auto;
    margin-top: 6px;
}

.key.highlight.highlight.highlight{
    background-color: red ;
}

.key.finger{
    background-color: blue;
}

.key:hover {
    box-shadow: 0px 0px 10px rgb(20, 170, 181);
    z-index: 1000;
}