body{
    padding: 0%;
    margin: 0%;
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* to type */
.editor{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;    
}

input[type="text"], #toType{
    height: 30px;
    font-size: 18pt;
    border: none;
    border-bottom: black 1px solid;
    width: 90%;
    outline: none;
    background-color: rgba(177, 230, 201, 0.315);
}
#toType{
    white-space: nowrap;
    overflow: hidden;
}
.keyboard{
    user-select: none;
    background-color: #009688;
}